---
layout: default
---

<div class="glass_container_flex">
    <section class="glass">
        <h1>{{page.title}}</h1>
        <form action="https://formspree.io/f/meqpnyjy" method="POST">
                <input type="text" placeholder="{{ page.first }}" name="_replyto">
                <input type="text" placeholder="{{ page.fourth }}" name="_subject">
                <textarea placeholder="{{ page.second }}" name="message"></textarea>
            <button type="submit">{{ page.third }}</button>
        </form>
    </section>
</div>
<div class="circle1"></div>
<div class="circle2"></div>