<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-78PVBC65RS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-78PVBC65RS');
    </script>

    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <meta name="p:domain_verify" content="b584efdc358c6e5811507cf9c5a029f1"/>

    {% if page.lang == "ar" %}
    <style>
        body {
            direction: rtl;
        }

        .home_information {
            padding-right: 1.5rem;
            border-right: 5px solid var(--white-color);
        }

        .home_img {
            left: 0;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        @media screen and (min-width: 768px) {
            .home_img {
                right: 55%;
            }
        }
    </style>
    {% else %}
    <style>
        body {
            direction: ltr;
        }

        .home_information {
            padding-left: 1.5rem;
            border-left: 5px solid var(--white-color);
        }

        .home_img {
            right: 0;
        }

        @media screen and (min-width: 768px) {
            .home_img {
                left: 55%;
            }
        }
    </style>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/img/favicon.webp' | relative_url }}" />

    {% if page.name == "index.md" %}
    <title>{{ page.title }}</title>
    {% else %}
    {% if page.lang == "en" %}
    <title>{{ page.title }} | Omar Badr</title>
    {% else %}
    <title>{{ page.title }} | عمر بدر</title>
    {% endif %}
    {% endif %}
</head>

{% if page.name == "index.md" %}

<body style="overflow: hidden;" background="{{'/assets/img/bg.webp'| relative_url }}">
    {% else %}

    <body>
        {% endif %}
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="https://github.com/OmarMoBadr" class="nav_logo">OmarMoBadr</a>
                </div>

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}

                <div class="nav_menu" id="nav-menu">
                    <ul class="nav_list">
                        {% if page.lang == "en" %}
                        <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/about" class="nav_link">About</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/projects" class="nav_link">Projects</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/blog" class="nav_link">Blog</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/contact" class="nav_link">Contact</a></li>
                        {% else %}
                        <li class="nav_item"><a href="/{{page.lang}}/home" class="nav_link">الرئيسية</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/about" class="nav_link">حول</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/projects" class="nav_link">المشاريع</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/blog" class="nav_link">المدونة</a></li>
                        <li class="nav_item"><a href="/{{page.lang}}/contact" class="nav_link">التواصل</a></li>
                        {% endif%}

                        {% if page.path contains '_posts' %}
                        {% if page.lang == "en" %}
                        <li class="nav_item"><a href="{{ posts[0].url }}" class="nav_link">العربية</a></li>
                        {% else %}
                        <li class="nav_item"><a href="{{ posts[1].url }}" class="nav_link">English</a></li>
                        {% endif %}

                        {% else %}

                        {% if page.lang == "en" %}
                        <li class="nav_item"><a href="{{ pages[0].url }}" class="nav_link">العربية</a></li>
                        {% else %}
                        <li class="nav_item"><a href="{{ pages[1].url }}" class="nav_link">English</a></li>
                        {% endif %}
                        {% endif %}

                    </ul>
                </div>

                <div class="nav_toggle" id="nav-toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>
            </nav>
        </header>

        <main>{{content}}</main>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
        <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
        {% if page.name == "index.md" %}
        <script src="{{ 'assets/js/animation.js' | relative_url }}"></script>
        {% endif %}
    </body>

</html>