<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-78PVBC65RS"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-78PVBC65RS');
        </script>
        

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="icon" type="image/png" href="{{ '/assets/img/favicon.webp' | relative_url }}"/>
        <title>Omar Badr | Personal Website</title>
    </head>
    <body style="overflow: hidden;">
        {{content}}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <script src="assets/js/menu.js"></script>
        <script src="assets/js/animation.js"></script>
        <script  type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>