---
layout: default
---

<div class="glass_container">
    <div class="container">
        <h1>{{page.title}}</h1>
        <div class="projects">
            {% assign projects=site.pages | where:"lang", page.lang | where:"category", "projects" %}
            {% for project in projects reversed %}
            <a href="{{ project.url }}">
                <div class="project_card">
                    <img src="{{ project.image | relative_url}}" alt="{{ project.title }} Image">
                    <h5>{{ project.title }}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>